body {
    text-align: -webkit-center;
    background-color: black;

}


.quadrado {
    text-align: center;
    width: 50px;
    background: black;
    display: table-cell;
    padding: 40px;
    font-size: 60px;
    border: 5px solid #ff5722;
    cursor: pointer;
    color: black;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;

}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
}

.texto {
    color: #4aff58;
}


.quadrado1 {
    border-top: black;
    border-left: black;
}

.quadrado2 {
    border-top: black;
}

.quadrado3{
    border-top: black;
    border-right: black;
}

.quadrado4{
    border-left: black;
}

.quadrado6{
    border-right: black;
}

.quadrado7 {
    border-bottom: black;
    border-left: black;
}

.quadrado8 {
    border-bottom: black;
}

.quadrado9{
    border-bottom: black;
    border-right: black;
}